.Person {
    width: 30%;
    height: 8em;

    background-color: #efefef;
    margin: 0.8em;
    padding: 0.3em;
    float: left;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 2px #505070;
    overflow: hidden;
}

.Person:hover {
    background-color: burlywood;
    height: 8.2em;
    transition: all 0.5s ease;
    overflow: hidden;
}

.inputField {
    width: 60%;
  }

.removeBtn {
    background-image: url('./../../../assets/img/icons8-delete-50.png') !important;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1rem !important;
    padding: 0.1rem !important;
    height: 1rem;
    border: none;
    position: relative;
    left: 18%;
    bottom: 3.5rem;
  }

  @media (max-width: 500px) {
      .Person {
          width: 60%;
      }
  }