.App {
  text-align: center;
  font-family: 'Product Sans';
}

.remove-btn {
  background-image: url('./img/icons8-close-window-50.png');
  text-align: left;
  background-size: contain;
  width: 30px;
  height:30px;
  margin-left: 20px;
  border: none;
}

.input-field {
  width: 60%;
}

.red {
  color: #DC143C;
}
.danger {
  color: red;
}