.App {
  text-align: center;
  font-family: 'Product Sans';
  margin: 0 auto;
  }

.remove-btn {
  background-image: url('./img/icons8-delete-50.png');
  background-size: contain;
  width: 1rem;
  height: 1rem;
  border: none;
  position: relative;
  left: 18%;
  bottom: 3.5rem;
}

.input-field {
  width: 60%;
}

.red {
  color: #DC143C;
}
.danger {
  color: red;
}